<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=C4mDur7zkT8qxOtuLCyc2MGT"></script>
  <div id="container" style="height:400px;width:590px; "></div>
<div id="road_name"></div>
    <script>
var map = new BMap.Map("container");
var point = new BMap.Point(104.072296, 30.663085);
map.centerAndZoom(point, 13);
map.addControl(new BMap.NavigationControl());
map.enableScrollWheelZoom(true);
/////////地图当前位置红点拖动start
var icon = new BMap.Icon('/bdmap/redpoint.png',
        new BMap.Size(20, 32), {anchor: new BMap.Size(10, 30)});
var marker = new BMap.Marker(point, {icon: icon});  // 百度红点图标图片定义
marker.setTitle("拖到你点餐地");
marker.setAnimation(BMAP_ANIMATION_BOUNCE);
marker.enableDragging();
marker.addEventListener("mousedown", function(e){
    var label = new BMap.Label('点餐位置',{"offset":new BMap.Size(-15,29)});
    marker.setLabel(label); })
marker.addEventListener("dragend", function(e){
    // alert("当前位置：" + e.point.lng + ", " + e.point.lat);
    $.ajax({
        type: "POST",
        url:"<%= bd_lookup_axis_path%>",
        data:{bdlng:e.point.lng,bdlat:e.point.lat,mapsize:map.getZoom()},
        dataType: "script",
        success: function(res){}});
})
map.addOverlay(marker);
//////////地图当前位置红点拖动end
    </script>